<h2>Crea tupropios productos</h2>

<form action="/create" method="POST" enctype="multipart/form-data">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="number">Precio:</label>
  <input type="number" id="number" name="price" required>

  <label for="image">Image:</label>
  <input type="file" id="image" name="image">

  <button type="submit">Create Product</button>
</form>
