<div class="container">
  {{!-- {{#each products}} --}}
  <form action="/update?id={{products.id}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required value="{{{products.name}}}" />
    
    <label for="preci">Price</label>
    <input type="number" id="preci" name="price" required value="{{products.price}}" />

    <button type="submit">update</button>
  </form>
</div>
